<?xml version="1.0"?>
<config>
    <modules>
        <Payone_PRA>
            <version>1.0.0</version>
        </Payone_PRA>
    </modules>
    <global>
        <models>
            <payone_pra>
                <class>Payone_PRA_Model</class>
                <resourceModel>payone_pra_resource</resourceModel>
            </payone_pra>
            <payone_pra_resource>
                <class>Payone_PRA_Model_Resource</class>
            </payone_pra_resource>
            <payone_core>
                <rewrite>
                    <config_general_Pra>Payone_PRA_Model_Config_General_Pra</config_general_Pra>
                </rewrite>
            </payone_core>
        </models>
        <blocks>
            <payone_pra>
                <class>Payone_PRA_Block</class>
            </payone_pra>
        </blocks>
        <helpers>
            <payone_pra>
                <class>Payone_PRA_Helper</class>
            </payone_pra>
        </helpers>
    </global>
    <frontend>
        <translate>
            <modules>
                <Payone_PRA>
                    <files>
                        <default>Payone_PRA.csv</default>
                    </files>
                </Payone_PRA>
            </modules>
        </translate>
        <layout>
            <updates>
                <payone_pra>
                    <file>payone/pra.xml</file>
                </payone_pra>
            </updates>
        </layout>
        <routers>
            <payone_pra>
                <use>standard</use>
                <args>
                    <frontName>payone</frontName>
                    <module>Payone_PRA</module>
                </args>
            </payone_pra>
        </routers>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Inchoo_Translations>
                    <files>
                        <default>Payone_PRA.csv</default>
                    </files>
                </Inchoo_Translations>
            </modules>
        </translate>
    </adminhtml>
</config>
